.head {
  background-color: rgb(17, 120, 238);
  color: white;
  border: 1px solid rgb(10, 1, 1);
  width: 7rem;
  padding: 5px;
}
.flex{
  
    width: 90vw;
    border: 1px solid black;
    flex-direction: column;
    justify-content: flex-start;
  
  }
  .person{
    background-color: rgb(17, 120, 238);
  }
  .ret{
    background-color: rgb(17, 120, 238);
  }
  .mabu{
  color: blue;
  
  }
  body{
    background-color: aqua;
  }

